.full-editor {
    padding: 6px 32px;
    justify-content: start;
}

.view-editor {
    padding: 6px 32px;
    width: 930px;
    justify-content: start;
}

.full-editor .ce-block__content {
    margin: 0 !important;
    margin-left: 60px;
    max-width: 900px;
}

.full-editor .ce-toolbar__content {
    margin: 0 !important;
    max-width: 900px;
    margin-left: 60px;
}

.full-editor h1, .full-editor h2, .full-editor h3, .full-editor h4, .full-editor h5, .full-editor h6, .full-editor p {
    font-size: revert !important;
}

.full-editor .codex-editor__redactor {
    padding-bottom: 0 !important;
}

editorjs-style {
    display: inline-block;
}

.template-subject {
    min-width: 300px; 
    width: 300px !important; 
    padding: 20px 0;    
}

.template-content {
    width: calc(100% - 300px) !important; 
    padding: 20px 0;    
}

.template-white-content {
    padding: 12px 0;
}

.template-panel {
    height: 690px;
    overflow-y: auto;
}

button:disabled, a.disabled {
    cursor: no-drop;
    background: #cccccc66 !important;
}

@media (min-width: 768px) {
    .md\:justify-start {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .md\:inline-block {
        display: inline-block;
    }
}

.searchable-select input {
    box-shadow: 0 0 #0000,0 0 #0000,0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
    color: rgb(17 24 39);
    border-color: rgb(209 213 219);
    border-width: 1px;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.625rem;
    font-size: .875rem;
    line-height: 1.25rem;
}

.searchable-select div {
    color: #000 !important;
}

.w-1\/12 {
    width: 8.333333% !important;
}

.w-2\/12 {
    width: 16.666666% !important;
}

.w-1\.5\/12 {
    width: 12.5% !important;
}

.w-3\/12 {
    width: 25% !important;
}

.w-4\/12 {
    width: 33.333333% !important;
}
